#footer
  background: #ddd url("/images/footer_top.jpg") repeat-x
  clear: both
  width: 100%
  margin: 0 auto
  padding: 40px 0 0
  overflow: hidden

  h3
    border-bottom: solid 1px #a3a3a3
    margin-bottom: 15px
    padding-bottom: 10px
    font-size: 1em

  ul, .encore
    font-size: 0.8125em
    margin-bottom: 15px

  li
    padding: 7px 0

  .recent
    li
      border-bottom: dashed 1px #ccc

  #footer-wrapper

  a
    color: #666

  a:hover
    color: #252525

  #bottom
    background: url("/images/footer_bottom.jpg") repeat-x
    width: 100%
    height: 100px

    #copyright
      color: #ddd
      font-size: 0.75em
      letter-spacing: 0.0625em
      margin: 0 auto
      padding: 67px 0 0
      text-align: center
      width: 720px
