@import _css3

body
  background-color: #222
  color: #ddd
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif
  font-size: 100%
  line-height: 1.125em
  font-style: normal
  font-weight: normal
  text-align: left
  height: 100%
  padding: 0
  margin: 0

#main
  margin: 300px auto 0 auto
  text-align: center
  width: 400px

  h1
    background-color: #000
    background: rgba(0, 0, 0, 0.2)
    +border-radius(20px, 20px, 20px, 20px)
    border: solid 1px #555
    box-shadow: #111 0px 2px 7px
    font-size: 40px
    margin-bottom: 20px
    padding: 40px
    text-shadow: #ccc 0 -1px 0px

  h2
    margin-bottom: 40px

  #networks

    .icon
      width: 32px
      height: 32px
      display: inline-block
      padding-right: 10px

    .twitter
      background: url('/images/icons/twitter-2.png') no-repeat

    .github
      background: url('/images/icons/github.png') no-repeat

    .gplus
      background: url('/images/icons/google-plus-black.png') no-repeat

