#menu
  %ul
    %li 
      %a{:href => '/'}
        %img{:src => "/images/nav_blog.jpg", :alt => "blog"}
    %li 
      %a{:href => '/doodles'}
        %img{:src => "/images/nav_doodles.jpg", :alt => "doodles"}
    %li 
      %a{:href => '/archive'}
        %img{:src => "/images/nav_archive.jpg", :alt => "archive"}
    %li 
      %a{:href => '/about'}
        %img{:src => "/images/nav_about.jpg", :alt => "about"}
    / %li 
    /   %a{:href => '/articles.atom'} feed
