.row
  %div{ :class => "column grid_12" }
    %h2 Doodles
    %p
      This is a small collection of images or illustrations (which ever
      you prefer) I've made.  All of these images were created using Adobe
      Illustrator.  A few of them were polished in Photoshop.  My process
      is simple; I pick a sketch out of my sketch book and I recreate it
      in Illustrator.  I don't use any fancy tools, just a mouse and
      keyboard.

    #doodles
      - @illustrations.each do |e|
        %div
          %a{ :href => "/images/illustrations/#{e}", :rel => "illustration" }
            %img{ :src => "/images/thumbs/#{e}", :longdesc => "http://iamneato.com", :alt => "#{e}" }

    %script{:src => '/javascripts/doodles.js', :type => "text/javascript"}
    %script{:src => '/javascripts/jquery.fancybox-1.2.1.js', :type => "text/javascript"}
    %script{:src => '/javascripts/fancybox.init.js', :type => "text/javascript"}
