
#main
  %h1 IAMNEATO.COM
  %h2 Sleepy Time &nbsp; (´～`)

  #networks
    %a.icon.github{ :href => 'https://github.com/ecavazos', :target => '_blank', :title => 'github' }
    %a.icon.twitter{ :href => 'https://twitter.com/#!/ecni', :target => '_blank', :title => 'twitter' }
    %a.icon.gplus{ :href => 'https://plus.google.com/116185011543722289613/posts', :target => '_blank', :title => 'google plus' }
