-# title: Rails 3 Deployment
-# published: 2010-8-26

:textile
  I recently deployed a Rails 3 application to a
  "Linode":http://www.linode.com/ VPS (they're awesome BTW).  I chose Ubuntu
  10.04 for my linux distro and 1.9.2 for my version of Ruby. I installed
  Ruby from source instead of using "RVM":http://rvm.beginrescueend.com/.
  RVM was my first choice, but I couldn't get
  "Passenger":http://www.modrails.com/ working with RVM.  I don't know if it
  was RVM or passenger but instead of wasting a ton of time, I just started
  over from scratch. As for the rest of the stack, I used
  "Nginx":http://wiki.nginx.org/Main with "Thin":http://code.macournoyer.com/thin/
  and Mongodb for the database.

  In the process, I accumulated a few useful links. Most of which are generally
  applicable and certainly worth sharing. So even though I wasn't able to
  find the one article that solved all my problems, I found more than enough
  helpful advice.

%ul
  %li
    %a{:href => "http://www.cowboycoded.com/2010/07/07/setting-up-rails-3-on-rackspace-cloud-servers/"}
      Setting up Rails 3 on Rackspace Cloud Servers
  %li
    %a{:href => "http://www.newmediapower.com/blog/setting-up-ubuntu-server-for-ruby-on-rails-deployment/"}
      Setting Up Ubuntu Server for Ruby on Rails Deployment
  %li
    %a{:href => "http://www.newmediapower.com/blog/deploy-rails-application-via-git-and-capistrano/"}
      Deploy Rails application via Git and Capistrano
  %li
    %a{:href => "http://blog.dynamic50.com/2010/04/21/installing-a-monitored-mongodb-ruby-1-9-nginx-stack-with-passenger-on-ubuntu-linux/"}
      Installing a monitored Mongodb, Ruby 1.9, Nginx stack with Passenger on Ubuntu Linux
  %li
    %a{:href => "http://macournoyer.wordpress.com/2008/01/26/get-intimate-with-your-load-balancer-tonight/"}
      Get intimate with your load balancer tonight!
  %li
    %a{:href => "http://articles.slicehost.com/2008/1/18/capistrano-series-configuring-capistrano-1"}
      Capistrano series - configuring Capistrano #1
